<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/products" target="_self">ECommerceApp</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <a href="#">Logged in as <strong><%= current_user.email %></strong></a>
        </li>
        <li>
          <a data-method="delete" href="/users/sign_out">
            <span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        </li>
      <% else %>
        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
    </ul>

    <form class="navbar-form navbar-left">
      <%= form_tag('/products', method: :get) do %>
        <div class="form-group">
          <%= text_field_tag 'search', @search, :style=>"width: 240px;", :class=>"form-control" %>
        </div>
        <%= submit_tag 'Search', :class=>"btn btn-default"%>
      <%end%>
    </form>
  </div>

  <div id="nav-subnav">
    <div class="tabbable">
      <ul class="nav nav-tabs" style="background-color: #D3D3D3">
        
        <% if user_signed_in? %>
          <li><a href="/products/order_history">Orders</a></li>
        <%end%>
        <% if user_signed_in? && current_user.admin? %>
          <li><a href="/categories/new">Add Category</a></li>
          <li><a href="/products/new">Add Product</a></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
